<form method="post" action="/new">
  <label for="document">Add a new document:</label>
  <div>
    <textarea name="document" id="document" rows="2" columns="10"></textarea>
  </div>
  <button type="submit">Create</button>
</form>
